@import "tailwindcss";

@theme {
  --color-brand-background: #09090b;
  --color-brand-card: #141415;
  --color-brand-accent: #ff0055;
  --color-brand-accent-light: #ff4d88;
  --color-brand-text: #fafafa;
  --color-brand-muted: #a1a1aa;
  --color-brand-border: #27272a;

  --font-sans: "Geist", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--color-brand-background);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
